{
  "singleQuote": true,
  "importOrder": ["^@angular/(.*)$", "^rxjs(.*)$", "<THIRD_PARTY_MODULES>", "^@my-recipes-book/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins" : ["typescript", "jsx", "classProperties", "decorators-legacy"]
}
